/* src/styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Space+Grotesk:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Các @apply đã được xóa khỏi đây và chuyển sang layout.tsx */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    /* Font mặc định cho tiêu đề */
    @apply font-headline;
  }
}